<form action="/BreadConfirm" method="post">

     <label for="bread">How many breads do you want?</label>
     <input id="bread" name="breadquantity" type="text"> 
     <button type="submit">Order!!</button>
    </form>