
    <form action="/PastryConfirm" method="post">

     @* <label for="bread">How many breads do you want?</label>
     <input id="bread" name="bread" type="text"> *@

     <label  for="pastry">How much pastry do you want?</label>
     <input id="pastry" name="pastryquantity" type="text">

     
     <button type="submit">Order!!</button>
    </form>
